<a href="https://colab.research.google.com/github/ronaldothame/EXEMPLO_ETL/blob/main/EXEMPLO_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# Importa a biblioteca pandas com o apelido 'pd'.
import pandas as pd

# Carrega os dados de vendas da filial 1 de um arquivo CSV e armazena no DataFrame 'vendas_filial1'.
vendas_filial1 = pd.read_csv('vendas_filial1.csv')

# Carrega os dados de vendas da filial 2 de um arquivo Excel e armazena no DataFrame 'vendas_filial2'.
vendas_filial2 = pd.read_excel('vendas_filial2.xlsx')

# Calcula o valor total de vendas para cada linha da filial 1 multiplicando a quantidade vendida pelo preço unitário.
vendas_filial1['Valor total'] = vendas_filial1['Quantidade Vendida'] * vendas_filial1['Preço Unitario']

# Calcula o valor total de vendas para cada linha da filial 2 multiplicando a quantidade vendida pelo preço unitário.
vendas_filial2['Valor total'] = vendas_filial2['Quantidade Vendida'] * vendas_filial2['Preço Unitário']

# Imprime uma mensagem indicando que os dados a seguir são da filial 1.
print("Dados da filial 1:")

# Exibe as primeiras cinco linhas do DataFrame 'vendas_filial1'.
print(vendas_filial1.head())

# Imprime uma mensagem indicando que os dados a seguir são da filial 2.
print("\nDados da Filial 2:")

# Exibe as primeiras cinco linhas do DataFrame 'vendas_filial2'.
print(vendas_filial2.head())

# Imprime uma mensagem indicando que os dados a seguir são transformados da filial 1.
print("Dados transformados da Filial 1:")

# Exibe novamente as primeiras cinco linhas do DataFrame 'vendas_filial1' (redundante, pois não houve transformação adicional).
print(vendas_filial1.head())

# Imprime uma mensagem indicando que os dados a seguir são transformados da filial 2.
print("\nDados Transformados ds Filial 2:")

# Exibe novamente as primeiras cinco linhas do DataFrame 'vendas_filial2' (redundante, pois não houve transformação adicional).
print(vendas_filial2.head())

# Salva o DataFrame 'vendas_filial1' em um novo arquivo CSV sem o índice.
vendas_filial1.to_csv('vendas_filial1_transformadas.csv', index=False)

# Salva o DataFrame 'vendas_filial2' em um novo arquivo CSV sem o índice.
vendas_filial2.to_csv('vendas_filial2_transformadas.csv', index=False)

# Carrega os dados do novo arquivo CSV da filial 1 e armazena no DataFrame 'dados_filial1'.
dados_filial1 = pd.read_csv('vendas_filial1_transformadas.csv')

# Carrega os dados do novo arquivo CSV da filial 2 e armazena no DataFrame 'dados_filial2'.
dados_filial2 = pd.read_csv('vendas_filial2_transformadas.csv')

# Imprime uma mensagem indicando que os dados a seguir são transformados da filial 1 (do arquivo CSV).
print("Dados transformados da Filial 1: (do arquivo CSV)")

# Exibe as primeiras cinco linhas do DataFrame 'dados_filial1'.
print(dados_filial1.head())

# Imprime uma mensagem indicando que os dados a seguir são transformados da filial 2 (do arquivo CSV).
print("\nDados Transformados ds Filial 2: (do arquivo CSV)")

# Exibe as primeiras cinco linhas do DataFrame 'dados_filial2'.
print(dados_filial2.head())

Dados da filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitario  Valor total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados da Filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0
Dados transformados da Filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitario  Valor total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados Transformados ds Filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0
Dados transformados da Filial 1: (do arquivo CSV)
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitario  Valor total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados Transformados ds Filial 2: (do arquivo CSV)
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [23]:
import sqlite3

# Criar uma conexão com o banco de dados
conn = sqlite3.connect('dados_transformados.db')

# Carregar os dados transformados para tabelas SQL
vendas_filial1.to_sql('vendas_filial1_transformadas', conn, index=False, if_exists='replace')
vendas_filial2.to_sql('vendas_filial2_transformadas', conn, index=False, if_exists='replace')

# Apresentar os dados carregados das tabelas SQL
dados_filial1 = pd.read_sql('SELECT * FROM vendas_filial1_transformadas', conn)
dados_filial2 = pd.read_sql('SELECT * FROM vendas_filial2_transformadas', conn)

print("Dados Transformados da Filial 1 (do banco de dados SQL):")
print(dados_filial1.head())
print("\nDados Transformados da Filial 2 (do banco de dados SQL):")
print(dados_filial2.head())

# Fechar conexão com o banco de dados
conn.close()

Dados Transformados da Filial 1 (do banco de dados SQL):
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitario  Valor total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados Transformados da Filial 2 (do banco de dados SQL):
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [28]:
# Importando a biblioteca sqlite3 para interagir com bancos de dados SQLite
import sqlite3

# Conectando ao banco de dados SQLite 'dados_transformados.db'
conn = sqlite3.connect('dados_transformados.db')

# Criando um objeto cursor que pode ser usado para executar comandos SQL no banco de dados
cursor = conn.cursor()

# Executando uma consulta SQL para selecionar todos os registros da tabela 'vendas_filial1_transformadas'
cursor.execute('SELECT * FROM vendas_filial1_transformadas')

# Recuperando todos os registros retornados pela consulta e armazenando-os na variável 'dados_filial1'
dados_filial1 = cursor.fetchall()

# Imprimindo os dados transformados da filial 1
print("Dados Transformados da Filial 1:")
for linha in dados_filial1:
  print(linha)

# Executando uma consulta SQL para selecionar todos os registros da tabela 'vendas_filial2_transformadas'
cursor.execute('SELECT * FROM vendas_filial2_transformadas')

# Recuperando todos os registros retornados pela consulta e armazenando-os na variável 'dados_filial2'
dados_filial2 = cursor.fetchall()

# Imprimindo os dados transformados da filial 2
print("Dados Transformados da Filial 2:")
for linha in dados_filial2:
  print(linha)

# Fechando o objeto cursor
cursor.close()

# Fechando a conexão com o banco de dados
conn.close()

Dados Transformados da Filial 1:
(101, 'Laptop Dell XPS 13', 20, 1500.0, 30000.0)
(102, 'Smartphone Samsung Galaxy S20', 30, 1000.0, 30000.0)
(103, 'Monitor LG UltraWide 34"', 15, 600.0, 9000.0)
(104, 'Teclado Mecânico Corsair K95 RGB', 25, 200.0, 5000.0)
(105, 'Mouse Logitech MX Master 3', 10, 80.0, 800.0)
Dados Transformados da Filial 2:
(201, 'Impressora HP LaserJet Pro', 12, 250.0, 3000.0)
(202, 'SSD Samsung 1TB', 18, 180.0, 3240.0)
(203, 'Tablet Apple iPad Pro', 8, 900.0, 7200.0)
(204, 'Smartwatch Samsung Galaxy Watch 4', 14, 300.0, 4200.0)
(205, 'Headset HyperX Cloud II', 20, 120.0, 2400.0)